<template name="home">
  <head>
    <title>Meteor User Account</title>
  </head>

  <body>
    <div class="container">
    <div class="flash"></div>
    <h1>Welcome to Meteor,
      {{#if currentUser}}
        {{currentUser.profile.name}}.
      {{else}}
        anonymous.
      {{/if}}
    </h1>
    {{#if currentUser}}
      {{> logout}}
    {{else}}
      {{> login}}
      <a href="{{pathFor 'register'}}">No account? register here</a>
      <br>
      <a href="{{pathFor 'forgotpassword'}}">Forgot Password</a>
    {{/if}}
    </div>
  </body>
</template>
